.navigation {
  background-color: #ef233c;
}

.navigationContainer {
  display: flex;
  justify-content: space-around;
}
.signIn {
  background-color: #edf2f4;
  border-radius: 10px;
  border:none;
  padding:5px;
  color:#ef233c;
transition: all 0.2s linear;
}
.signIn:hover {
background-color: #ef233c;
color: #edf2f4;
}
