.navigation {
  background-color: #d90429;
}

.navigationContainer {
  display: flex;
  justify-content: space-around;
}
.signIn {
  background-color: #edf2f4;
  border-radius: 10px;
  border:none;
  padding:5px;
  color:#ef233c;
transition: all 0.2s linear;
}
.signIn:hover {
background-color: #ef233c;
color: #edf2f4;
}
/* bodySection Styling **************************************/
.bodySection {
  background-color: #edf2f4;
border:2px solid #d90429;
}
.videoHolder {
  /* border:2px solid blue; */
  display:flex;
  justify-content: center;
  /* margin:auto; */
}

.services {
  padding:15px;
  display:flex;
  justify-content: space-around;
}

.serviceSign {
  /* width: 30%; */
  /* max-width:100px; */
  text-align: center;
    /* border: 2px solid blue; */
}
.serviceSign img {
  width:100%;
    max-width: 100px;
}


/* howWeCanHelp Styling **************************************/
.howWeCanHelpHolder h2 {
  text-align: center;
  color: #ef233c;
}
/* benefits Styling **************************************/

.benefitHolder {
  display:flex;
  width:60%;
  margin:auto;
  margin-bottom:20px;
  /* background-color: #edf2f4; */
  align-items: baseline;
  justify-content: space-between;
} 
.benefitHolder img {
  filter:drop-shadow(-16px 16px #8d99ae);
}
.benefitTextHolder {
  width:70%;
}

